<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Detalle CURSO</title>
</head>
<body>

    <div style=" padding: 2% 2%;">
        <h1>DETALLE /EDITAR  DE  UN CURSO</h1>
        <!-- <form action="#"  th:action="@{/courses/add}" th:object="${course}" method="post">

            <p>NAME: <input th:field="${course.name}"/> </p>
            <p>DESCRIPCION: <input th:field="${course.description}"/> </p>
            <p>PRECIO: <input th:field="${course.price}"/> </p>
            <p>HORAS: <input th:field="${course.hours}"/> </p>


            
                <input type="submit" value="EDITAR COURSE" />

            </p>

        </form> -->

    </div>


</body>
</html>