<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Backend Ninja - Signin</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>


    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

  </head>

  <body>

    <div class="container">

        <div class="card" style="z-index: 10px;">

                                <!-- la propiedad por addAttribute que se envia desde ctrll -->
            <form class="form-signin"   th:action="@{/logincheck}"  method="POST">
                                    <!-- envia un token para evitar vulnerabilidades     -->
                <!-- <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>  -->

                <h2 class="form-signin-heading py-4">Sign in</h2>
                                    
                <label for="inputEmail" class="sr-only">Username</label>
            <!-- th:field="*{username}" -->
                <input type="text" class="form-control" placeholder="Username"
                 name="username" id="username"/>


                <label for="inputPassword" class="sr-only">Password</label>
                <!-- th:field="*{password}" -->
                <input type="password" class="form-control" placeholder="Password"
                 name="password" id="password"/>


                <div class="alert alert-danger" th:if="${error !=null}"> INVALID USER /PASSWORD</div>
                <div class="alert alert-info" th:if="${logout !=null}"> Logout successfully!</div>
                
                <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">
                    <!-- <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  -->
                    <i class="fas fa-sign-in-alt"/> Sign in
                 </button>
        </form>
    </div> 

    </div> 
    <!-- /container -->

</body>
</html>